* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --projects-image-max-height: 600px;
  --projects-image-max-width: 200px;
}

body {
  background-color: #262626;
  font-family: 'Raleway', sans-serif;
  color: #ececec;
}

/* Header and Nav Styling*/
header {
  position: fixed;
  width: 100%;
  background-color: #ececec;
  color: #262626;
  display:flex;
  justify-content: space-between; /* Puts maximum space between the items */
  flex-wrap: wrap;
  align-items: center;
}

header h1 {
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  margin: 10px 30px;
}

header nav {
  margin-right: 20px;
}

header nav ul li {
  display: inline;
  margin: 10px 10px 10px 10px;
}

header nav ul li a {
  text-decoration: none;
  color: #262626;
  font-size: 18px;
  padding: 5px 5px;
  font-weight: bold;
}

header nav ul li a:hover {
  text-decoration: none;
  color: #262626;
  font-size: 18px;
  padding: 5px 5px;
  border-bottom: 2px solid #222831;
  font-weight: bold;
}

.hero-container {
  background-size: cover;
  background-position: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-bottom: 30px;
}

/* About Me */
.section-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 30px;
}

.section-container p {
  margin-top: 30px;
  font-size: 18px;
}

/* Projects Grid */
.projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.projects-grid-wrapper {
  border-left: 3px solid #ececec;
  display: inline-block;
}

.projects-grid-container {
  display: grid;
  grid-template-columns: repeat(3, max(1fr, var(--projects-image-max-width)));
  grid-template-rows: repeat(6, 1fr);
  height: 600px;
  grid-gap: 5px;
}

.projects-grid-item {
  display: flex;
  position: relative;
  transition: 0.5s;
  opacity: 50%;
}

.projects-grid-item:hover {
  opacity: 100%;
}

.projects-link {
  width: 100%;
  height: 100%;
}

.secondary-projects-header {
  font-size: medium;
}

.grid-image-size {
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.item-1 {
  grid-area: 1 / 1 / span 2 / span 2;
  min-width: 10px;
  background: url("../img/potluck-planner.PNG");
  background-size: cover;
}

.item-2 {
  background: url("../img/run-buddy.PNG");
  grid-area: 3/1 / span 2 / span 1;
  background-size: cover;
}

.item-3 {
  background: url("../img/codequiz.PNG");
  grid-area: 3/2 / span 2 / span 1;
  background-size: cover;
}

.item-4 {
  background: url("../img/workday.png");
  grid-area: 5/1 / span 2 / span 1;
  background-size: cover;
}

.item-5 {
  background: url("../img/the-private-network.PNG");
  grid-area: 5/2 / span 2 / span 1;
  background-size: cover;
}

.contact-me-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contact-me-info {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  border-left: 3px solid #ececec;
}

.contact-me-info ul {
  list-style: none;
}

.contact-me-info ul li {
  margin: 10px 10px 10px 10px;
  align-items: center;
  display: inline;
}

.contact-me-info ul li a {
  text-decoration: none;
  color: #ececec;
  font-size: 15px;
  padding: 5px 5px;
}

.contact-me-info ul li a:hover {
  text-decoration: none;
  color: #ececec;
  font-size: 15px;
  padding: 5px 5px;
  border-bottom: 2px solid #ececec;
}

.section-content {
  flex: 3;
  padding: 20px;
  margin: 10px;
}

.section-content img {
  max-height: 200px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  display: inline-block;
}

.section-header {
  font-size: 35px;
  color: #ececec;
  flex: 1;
  padding: 0px 20px 0px 20px;
  margin-top: 5%;
  direction: rtl;
  justify-content: left;
  margin: 10px;
}

.section-text {
  border-left: 3px solid #ececec;
}

@media screen and (max-width: 865px) {
  header {
    justify-content: center;
    position: relative;
    padding-bottom: 10px;
  }

  header h1 {
    width: 100%;
    text-align: center;
    padding: 10;
    margin: 10px;
  }

  header nav {
    margin: 0;
  }

  .section-container {
    flex-direction: column;
  }

  .section-content {
    border: none;
    justify-content: center;
  }

  .section-header {
    border-bottom: 3px solid;
    text-align: center;
    direction: ltr;
  }
}
@media only screen and (max-width: 605px) {
  .contact-me-info ul li {
    display: block;
    text-align: center;
  }

  header nav {
    margin: 0;
  }

  header nav ul li {
    display: block;
    text-align: center;
    justify-content: center;
  }

  .hero-container {
    display: none;
  }

  /* Work Grid */
  .projects-grid-item {
    opacity: 1;
  }

  .projects-grid-item-wrapper {
    opacity: 1;
  }

  .secondary-projects-header {
    text-align: center;
  }

  .section-content img {
    max-height: 200px;
    text-align: center;
    border-radius: 10px;
  }

  .contact-me-info ul li {
    display: block;
    text-align: center;
  }

  header nav ul li {
    display: block;
    text-align: center;
    justify-content: center;
  }

  .hero-container {
    display: none;
  }

  .projects-grid-item {
    opacity: 1;
  }

  .projects-grid-item-wrapper {
    opacity: 1;
  }

  .secondary-projects-header {
    text-align: center;
  }

  .section-content img {
    max-height: 200px;
    text-align: center;
  }

  .section-content {
    text-align: center;
  }
}